<h1> <%= @team.id %> </h1>
<h1> <%= @team.name %> </h1>

<% if false %>
<h1> <%= @team.starter1 %> </h1>
<h1> <%= @team.starter2 %> </h1>
<h1> <%= @team.reliever1 %> </h1>
<h1> <%= @team.reliever2 %> </h1>
<h1> <%= @team.catcher %> </h1>
<h1> <%= @team.short %> </h1>
<% end %>

<h1> <%= @team.outfielder1 %> </h1>
<h1> <%= @team.outfielder2 %> </h1>
<h1> <%= @team.outfielder3 %> </h1>
